<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:util="http://www.springframework.org/schema/util"
           xmlns:p="http://www.springframework.org/schema/p"
           xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <import resource="loggers.xml"/>

    <!-- подключаем файл client.properties со статическими данными -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    </bean>

    <!-- создаём бин используя передачу параметров в конструктор (с указанием индекса параметра и без) -->
    <bean id="client" class="ru.nemchinovsergey.spring.beans.Client" p:greeting="Hello there!">
        <constructor-arg index="0" value="${id}" />
        <constructor-arg value="${name}" />
    </bean>

    <!-- создаём отдельный бин-мап для карты логеров, инжектим его как 3 параметр в конструктор App -->
    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger" />
        <entry key="ERROR" value-ref="combinedEventLogger" />
    </util:map>

    <!-- создаём бин используя передачу ссылок в конструктор уже созданных объектов -->
    <bean id="app" class="ru.nemchinovsergey.spring.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
        <constructor-arg ref="loggerMap"/>
    </bean>

    <!-- создаём бин используя внутренний бит, для получения даты -->
    <bean id="event" class="ru.nemchinovsergey.spring.beans.Event" scope="prototype">
        <!-- внутренний бин создаётся каждый раз заново -->
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <!-- создаём бин с форматом даты -->
    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="monitor" class="ru.nemchinovsergey.spring.util.Monitor"/>
    <bean id="awared" class="ru.nemchinovsergey.spring.util.AwareBean" init-method="init"/>

</beans>